.Casa{
    border: 1px solid black;
    width: 500px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 3px rgb(15, 1, 1);
}

.Segundo-nivel{
    background: url("../ASSETS/TEXTURA.jpg");
    background-size: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid gray;
}

.Ventana{
    width: 90%;
    height: 90%;
    background-color: rgba(151, 213, 238, 0.793);

    border: gray;
}

.Primer-nivel{
    background: url("../ASSETS/TEXTURA.jpg");
    background-size: 50%;

    border-top: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: end;
    border: 3px solid gray;
}

.Puerta{
    width: 100px;
    height: 130px;
    background-image: url("../ASSETS/MADERA.jpg");
    background-size:100px ;

    border: 3px gray;
}

.Garage{
    background: url("../ASSETS/TEXTURA.jpg");
    background-size: 100px;
    display: flex;
    justify-content: center;
    align-items: end;

    border: 3px solid gray;
}

.Porton{
    width: 90%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.855);

    border: 3px solid gray;
}

.Techo{
    display: flex;
    align-items: end;
}

.Pared{
    width: 100%;
    height: 25px;
    background-color: gray;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 3px solid gray;
}

.Pared div {
    border: 2px solid black;
}